@media (max-width:768px) {
  .test-nav{
   display: none;
 }
 #nav-bar{
    height: autopx;
    display: block;
 }
 #nav-bar a:link, a:visited{
    display: block;
    padding: 10px;
    border-left: none;
    text-align: left;
 }
  #personal-info {
   padding-right: 25px;
  }
  .chall-content-2{
   border-left: 0;
   border-top: 2px solid #d6c08d;
   padding-top: 20px;
  }
}