@media (min-width:768px) and (max-width:1024px) {
    .test-nav{
        display: none ;
    }
#nav-bar a:link,
a:visited{
    padding: 10px;
    margin-right: 1rem;
    padding-bottom: 30px;
}
    #nav-bar {
        margin-top: 1rem;
}
#personal-info {
    font-size: 16px;
    padding-right: 40px;
}
#target {
    font-size: 16px;
}
.chall-content{
    flex-direction: column;
    gap: 30px;
}
.project-title{
    font-size: 14px;
}
.project-border{
    font-size: 14px;
    padding: 10px 4px !important;
}
.project-border span {
    margin-right: 5px !important;
}
td {
    font-size: 14px;
}
tr td:first-child {
width: 25%;
}
}